name: Terraform CI

on:
  pull_request:
    branches:
      - main
      - master

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    name: Terraform Validate
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::032811251961:role/git-terraform-role
          aws-region: us-east-1

      - name: Configure kubeconfig (EKS)
        run: |
          aws eks update-kubeconfig \
            --region us-east-1 \
            --name eks-golunch-terraform-infra

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Format Check
        run: terraform fmt -check -recursive

      - name: Ensure backend bucket exists
        run: ./create_backend_bucket.sh

      - name: Terraform Init
        run: terraform init -reconfigure

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: |
          terraform plan \
            -var="db_username=${{ secrets.DATABASE_USER }}" \
            -var="db_password=${{ secrets.DATABASE_PASSWORD }}"